body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: rgb(228, 231, 233); 
    padding: 4px; 
    color: #202020;
  }

h1, h2 {
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #headshot {
      border: 1px solid rgb(79, 76, 76);
      padding: 2px;
      margin: 8px;
      border-radius: 8px;
      max-width: 250px;
  }

  .experience {
      border: inset 1px;
      margin-bottom: 4px;
      padding: 4px;
      background-color: white;
      color: #222;
  }

  .experience .title {
      font-weight: bold;
  }

  footer {
      background-color: #202020;
      color: lightblue;
      text-align: center;
      padding: 2px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;

  }



